.active {
    text-decoration: none;
    padding-right: 10px;
    color: #f00;
    font-weight: bold;
    text-transform: uppercase;
}

.active:hover {
    color: #f00;
}

.inactive {
    text-decoration: none;
    font-weight: lighter;
    padding-right: 10px;
    color: #fff;
}

.inactive:hover {
    color: #fff;
}

.img-container {
    width: 50px;
    display: flex;
    align-items: center;
}

.img-container img {
    max-width: 100%;
}