body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.on {
  color: rgb(130, 241, 130);
  font-weight: bold;
  text-decoration:none;
}

.off {
  color: gray;
  text-decoration:none;
}

.pokecard {
  display: flex;
  justify-content: center !important;
}

